pkgbase = mani
	pkgdesc = A CLI tool that helps you manage multiple repositories
	pkgver = 0.31.1
	pkgrel = 1
	url = https://manicli.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	options = !debug
	source = mani::git+https://github.com/alajmo/mani.git#commit=71282770342550c56e7e6d6e58e439cc53683f98
	b2sums = SKIP

pkgname = mani
