pkgbase = mani
	pkgdesc = A CLI tool that helps you manage multiple repositories
	pkgver = 0.32.0
	pkgrel = 1
	url = https://manicli.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	options = !debug
	source = mani::git+https://github.com/alajmo/mani.git#commit=75caa4ac6d31a0afb291e738ed5fb7624014cf6d
	b2sums = SKIP

pkgname = mani
